<div class="container">
  <h1 class="text-center pt-3 pb-2">My Events</h1>

  <table class = 'table table-hover'>
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Attendees</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render 'shared/upcoming_rows' %>

      <%= render 'shared/previous_rows' %>
    </tbody>
  </table>

  <h1 class="text-center pt-3 pb-2">You're Registered</h1>

  <table class = 'table table-hover'>
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% current_user.attendees.each do |attendee| %>
        <tr>
          <td>
            <%= attendee.event.name %>
            <%= render 'shared/display_badge', date: attendee.event.date %>
          </td>
          <td><%= link_to 'Read more', event_path(attendee.event_id), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
